body {
    background:
    url(http://subtlepatterns.com/patterns/subtlenet2.png);
font: 1em 'Arial', 'Tahoma', 'PT Sans';
text-transform: uppercase;
}

/*****Menu*****/

.nav {
    list-style: none;
    padding: 0;
    margin: 30px;
    
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.nav:hover {
    opacity: 1;
}

.nav li {
    height: 50px;
    width: 50px;
    overflow: hidden;  
    -moz-transition: width .2s ease-in-out, height .2s ease-in-out;
    -webkit-transition: width .2s ease-in-out, height .2s ease-in-out;
    -o-transition: width .2s ease-in-out, height .2s ease-in-out;
    transition: width .2s ease-in-out, height .2s ease-in-out;
}


.nav li:hover {
    height: 175px;
    width: 280px;
}

.nav li a {
    display: block;
    width: 280px;
    height: 35px;
    line-height: 35px;
    background: #bbb;
    margin: 1px;
    color: #fff;
    padding-left: 15px;
    cursor: pointer;

-moz-transition: background 0.2s ease-in-out;
-webkit-transition: background 0.2s ease-in-out;
-o-transition: background 0.2s ease-in-out;
transition: background 0.2s ease-in-out;
    
}

.nav li a:first-child {
    font-size: 1.1em;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-indent: 36px;
}

.nav li a:hover {
    background: #2fc5ff;
}

.nav li a:first-child:before {
    content: '';
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 9px;
    left: 9px;
}

.menus li a:first-child:before {
    background: url(menus.png) center no-repeat;
}
.services li a:first-child:before {
    background: url(services.png) center no-repeat;
}
.energy_savings li a:first-child:before {
    background: url(energy_savings.png) center no-repeat;
}
.articles li a:first-child:before {
    background: url(articles.png) center no-repeat;
}

     

